<div id="page403">
    <div class="content-wrapper page-error">
        <section id="search_card" class="ans-section mb-0">
            <div class="row form-group">
                <div class="col-sm-12 comment">
                    <h3>403! Truy cập bị từ chối.</h3>
                    <p>Bạn không có quyền truy cập trang này. Vui lòng liên hệ với quản trị viên của bạn.</p>
                    <router-link :to="homeScreen" class="btn btn-lg btn-primary mt-2" title="Quay về">Quay về</router-link>
                </div>
            </div>
        </section>
    </div>
</div>
