@import "var";
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'util';
.custom-link {
    color: black;
    text-decoration: none;
}
.group{
    .label{
        width: 100%;
    }
    .input{
        width: 100%;
    }
}
.custom-modal {
    z-index: 10000;
}
.modal-second {
    z-index: 10004 !important;
}

.modal-thirst {
    z-index: 10006 !important;
}

.modal-four {
    z-index: 10008 !important;
}

.modal-five {
    z-index: 10010 !important;
}

.modal-six {
    z-index: 10012 !important;
}
.form-select {
    border-color: #ced4da;
    &:disabled {
        background-color: #e9ecef !important;
    }
}
.loading {
    .loading-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999999999;
        background-color: $white;
        opacity: 0.5;
    }
    img {
        position: fixed;
        top: calc(50% - 25px);
        left: calc(50% - 25px);
        width: 50px;
        height: 50px;
        z-index: 10000000000;
    }
}
.error{
    z-index: 1;
    background-color: white;
    padding: 50px 100px 20px 100px; 
    .content{
        display: flex;
        align-items: center;
        font-size: 32px;
        padding: 20px;
        img{
            width: 40%;
        }
        h3{
            
            font-size: 40px;   
            font-style: bold; 
        }
    }
    .return{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        p{
            font-size: 20px;
        }
        
        .btn{
            border: 1px solid $primaryColor;
            border-radius: 20px;
            font-size: 20px;
            padding: 10px 20px 10px 20px;
            &:hover{
                color: white;
                background-color: $primaryColor;
            }
        }
    }
}
.modal-message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    .content {
        border-radius: 0.5rem;
        background-color: $white;
        padding: -1rem;
        min-width: 530px;
        min-height: 250px;
        .message-content {
            margin-top: 10px;
            background-color: $white;
            margin-bottom: 0;
            padding: 1rem;
        }
        
    .modal-footer {
        .app-btn {
            width: 150px;
            height: 35px;
            background-color: $primaryColor;
            border-radius: 5rem;
            font-size: 120%;
            color: $white;
            font-weight: bold;
            border: none;
            &:hover {
                background-color: $primaryHoverColor;
            }
        }
        .cncl-btn {
            width: 150px;
            height: 35px;
            background-color: $dangerColor;
            border-radius: 5rem;
            font-size: 120%;
            color: $white;
            font-weight: bold;
            border: none;
            &:hover {
                background-color: $dangerHoverColor;
            }
        }
    }
    }
}