<div id="form">
    <div class="main">
        <div class="header-form">Thông tin hỗ trợ</div>
        <div class="content-form">
            <div class="header">Địa chỉ hỗ trợ</div>
            <div class="address">
                <rvn-select
                    id="city"
                    :options="location.cities"
                    :onChangeEvent="setDistricts"
                    v-model="detail.city"
                ></rvn-select>
                <rvn-select
                    id="district"
                    :options="location.districts"
                    :onChangeEvent="setWards"
                    v-model="detail.district"
                ></rvn-select>
                <rvn-select
                    id="ward"
                    :options="location.wards"
                    v-model="detail.ward"
                ></rvn-select>
            </div>
            <rvn-input
                id="address"
                class="m-b-20"
                placeholder="Địa chỉ cụ thể"
                v-model="detail.address"
            ></rvn-input>
            <hr />
            <div class="header">Nội dung</div>
            <div class="post">
                <div>
                    <rvn-input
                        id="title"
                        placeholder="Tiêu đề"
                        v-model="detail.title"
                    ></rvn-input>
                </div>
                <div>
                    <file-upload
                        id="image"
                        :maxSize="5"
                        accept="jpg"
                        @file-uploaded="getUploadedData"
                        v-model="detail.image"
                    ></file-upload>
                </div>
                <rvn-input
                    id="sapo"
                    class="m-t-15"
                    type="textarea"
                    :rows="3"
                    placeholder="Tóm tắt nội dung"
                    v-model="detail.sapo"
                ></rvn-input>
                <div class="m-t-15">
                    <quill-editor
                        id="content"
                        ref="quillEditor"
                        v-model:content="detail.content"
                        contentType="html"
                        :options="editorOption"
                    ></quill-editor>
                </div>
            </div>
            <div class="save">
                <button class="btn" @click="saveData">Gửi đăng ký</button>
            </div>
        </div>
    </div>
</div>
