
    <h1>123123</h1>
    <h1>123123</h1>
    <h1>123123</h1>
    <h1>123123</h1>
    <h1>123123</h1>
    <h1>123123</h1>
    <h1>123123</h1>
    <div>
      <!-- <input
        type="file"
        @change="onFileChanged($event)"
        accept="image/*"
        capture
      /> -->
      <!-- <input accept="image/*" type="file" @change="previewFiles($event)" />
      <img alt="" :src="newImage || emptyImage" /> -->
      <Dropdown id="city" label="Tỉnh/Thành" :options=this.location.cities :onChangeEvent="setDistricts" v-model="this.detail.city"></Dropdown>
      <Dropdown id="district" label="Quận/Huyện" :options=this.location.districts :onChangeEvent="setWards" v-model="this.detail.district"></Dropdown>
      <Dropdown id="ward" label="Phường/Xã" :options=this.location.wards v-model="this.detail.ward"> </Dropdown>
      <!-- <image-upload action="create"
      :image_style="{
          border: 'rounded-circle',
          height: '100',
          width: '100'
      }" -->
      <button @click="onClick">click</button>
    </div>
