extends baseEmail

block content
    p Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn. Đây là mật khẩu mới của bạn: #{firstName}.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Đăng nhập với mật khẩu mới
    b VUI LÒNG ĐỔI LẠI MẬT KHẨU KHI ĐÃ ĐĂNG NHẬP THÀNH CÔNG

    p Nếu bạn không quên mật khẩu, vui lòng bỏ qua email này!

    p Trân trọng, [RVN]