<div class="custom-modal post">
    <div class="custom-modal-header">
        <h5 class="modal-title">Thông tin bài viết</h5>
        <button
            type="button"
            class="btn-close-popup"
            aria-label="Close"
            @click="close"
        >
            ×
        </button>
    </div>
    <div class="custom-modal-body">
        <div class="header-1">Thời gian diễn ra hỗ trợ</div>
        <div class="date">
            <span class="label">Bắt đầu từ ngày</span>
            <vue-date-picker
                id="dateFrom"
                v-model="dateFrom"
                :enable-time-picker="false"
                cancel-text="Hủy"
                select-text="Chọn"
                :clearable="false"
                @update:modelValue="validateDate"
            ></vue-date-picker>
            <span class="label">Kết thúc vào ngày</span>
            <vue-date-picker
                id="dateTo"
                v-model="dateTo"
                :enable-time-picker="false"
                cancel-text="Hủy"
                select-text="Chọn"
                @update:modelValue="validateDate"
                :clearable="false"
            ></vue-date-picker>
        </div>
        <hr />
        <div class="header-1">Nội dung</div>
        <div class="title">{{this.paramSends.detail?.title}}</div>
        <div class="image">
            <img :src="this.paramSends.detail?.image" alt="image" />
        </div>
        <div class="sapo">{{this.paramSends.detail?.sapo}}</div>
        <div class="related"></div>
        <div class="body">
            <div class="content ql-editor" v-html="formattedContent"></div>
        </div>
        <div class="approve">
            <button class="app-btn" @click="approvePost(true)">
                Phê duyệt
            </button>
            <button class="cncl-btn" @click="approvePost(false)">
                Từ chối
            </button>
        </div>
    </div>
</div>
