<div id="login">
    <div class="wrap-content">
      <div class="pic" data-tilt>
        <img src="https://danang.gov.vn/o/danang-portlet/images/footer/logo-footer.png" alt="IMG">
      </div>
      <form class="form">
		<div>
			<span class="form-title  p-t-26 p-b-54">Đăng nhập </span>
			<div class="wrap-input">
				<input class="input" type="text" name="email" placeholder="Email" v-model="email">
					<i class="fa fa-envelope first-icon" aria-hidden="true"></i>
			</div>
			<div class="wrap-input" data-validate = "Password is required">
				<i class="fa fa-lock first-icon" aria-hidden="true"></i>
				<input class="input" :type="this.type" name="pass" placeholder="Mật khẩu" v-model="password">
				<i v-if ="isHidePassword" class="fa fa-eye-slash hide-icon" aria-hidden="true" @click=unHidePassword ></i>
				<i v-else class="fa fa-eye hide-icon " aria-hidden="true" @click=hidePassword ></i>
			</div>
			<div class ="remember-info">
				<input class="check-input" type="checkbox" id="chk1" v-model="Info" value="0" >
				<label class="check-label" for="chk1">Lưu thông tin đăng nhập</label>
			</div>
          	<div class="container-btn">
				<button class="btn">    
					<i class="fa fa-user icon" aria-hidden="true"></i>
					Login
				</button>
			</div>
			<div class="text-center pt-5">
				<!-- <span class="txt1">
					Quên
				</span> -->
				<a class="txt2" href="#">
					Quên mật khẩu?
				</a>
			</div>
		</div>
		<div class="text-center m-t-136">
			<a class="txt2 spacing" href="/signup">
				Tạo tài khoản mới
				<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
			</a>
		</div>
      </form>
    </div>
</div>