<div id="signup">
    <div class ="container">
        <h3 class = "text-center"> ĐĂNG KÍ</h3>
        <rvn-input id="email" placeholder="Email" v-model="detail.email"/></rvn-input>
        <rvn-input id="password"  placeholder="Mật khẩu" :maxLength="30" v-model="detail.password"/></rvn-input>
        <rvn-input id="confirmPassword" placeholder="Xác nhận mật khẩu" :maxLength="30" v-model="detail.confirmPassword"/></rvn-input>
        <div class = 'group'>
            <rvn-input class="col-sm-5" id="lastName" placeholder="Họ" :maxLength="30" v-model="detail.lastName"/></rvn-input>
            <rvn-input class="col-sm-5" id="firstName" placeholder="Tên" :maxLength="30" v-model="detail.firstName"/></rvn-input>
        </div>
        <rvn-input id="phoneNumber" placeholder="Số điện thoại" :maxLength="10" v-model="detail.phoneNumber"/></rvn-input>
        <div class = 'group'>
            <rvn-select class="col-sm-4" id="city" :options=this.location.cities :onChangeEvent="setDistricts" v-model="detail.city"></rvn-select>
            <rvn-select class="col-sm-4" id="district" :options=this.location.districts :onChangeEvent="setWards" v-model="detail.district"></rvn-select>
            <rvn-select class="col-sm-4" id="ward" :options=this.location.wards v-model="detail.ward"> </rvn-select>
        </div>
        <rvn-input id="address" placeholder="Địa chỉ cụ thể" :maxLength="30" v-model="detail.address"/></rvn-input>
        <button @click="signUpUser">Đăng ký</button>
    </div>
</div>