@import '../../assets/scss/var';

.image img {
    max-width: 100%;
    display: block;
    margin: auto;
    transform: translate3d(0, 0, 0);
}
#post {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 20px;
    .container {
        display: flex;
        justify-content: space-between;
        .main-col {
            background-color: #fff;
            padding: 20px;
            width: 60%;
            float: left;
            .title {
                font-size: 2rem;
                line-height: 3rem;
                font-weight: 700;
                font-family:
                    roboto,
                    -apple-system,
                    BlinkMacSystemFont,
                    'Segoe UI',
                    Roboto,
                    'Helvetica Neue',
                    Arial,
                    sans-serif,
                    'Apple Color Emoji',
                    'Segoe UI Emoji',
                    'Segoe UI Symbol',
                    'Noto Color Emoji';
                margin-bottom: 10px;
            }

            .sapo {
                font-size: 1rem;
                line-height: 1.3rem;
                font-weight: 700;
                margin: 10px 0px;
            }
            .related {
            }
            .body {
                overflow-wrap: break-word;
                font-size: 1.6rem;
                line-height: 2.4rem;
                margin-top: 20px;
                // .content p {
                //     margin: 0px 0px 15px;
                //     padding: 0px;
                //     border: 0px;
                //     text-align: justify;
                //     font-size: 18px;
                // }
            }
            .help {
                display: flex;
                justify-content: center;
                button {
                    border: 0 solid #000;
                    border-radius: 50px;
                    font-weight: bold;
                    padding: 5px 20px 5px 20px;
                    margin: 0px 20px 0px 20px;
                    background-color: $primaryColor;
                    color: white;
                }
            }
        }
        .sub-col {
            position: sticky;
            top: 50px;
            width: 35%;
            height: 525px;
            overflow: hidden;
            background-color: #fff;
            padding: 20px;
            // .slider {
            //     margin: 50px auto;
            //     overflow: hidden;
            //     .marquee {
            //         .user {
            //             animation: marquee 8s linear infinite;
            //             margin-top: 15px;
            //             display: flex;
            //             align-items: center;
            //             .avatar {
            //                 border: 1px solid #d7d7d7;
            //                 border-radius: 50%;
            //                 height: 60px;
            //                 width: 60px;
            //                 margin-right: 10px;
            //             }
            //             p{
            //                 margin: 0 !important;
            //             }
            //         }
            //     }

            //     @keyframes marquee {
            //         from {
            //             transform: translateY(-100%);
            //         }

            //         to {
            //             transform: translateY(0);
            //         }
            //     }
            // }
            .header {
                font-size: 2rem;
                font-weight: bold;
                align-self: center;
                z-index: 1;
                position: relative;
            }
            .slider {
                overflow: hidden;
                z-index: 0;
                position: relative;
                height: 100%;
                .marquee {
                    display: flex;
                    flex-direction: column;
                    top: 0;
                    animation: marquee 8s linear infinite;
                    .user {
                        margin-top: 15px;
                        display: flex;
                        align-items: center;
                        font-size: 24px;
                        .avatar {
                            border: 1px solid #d7d7d7;
                            border-radius: 50%;
                            height: 80px;
                            width: 80px;
                            margin-right: 20px;
                        }

                        p {
                            margin: 0 !important;
                        }
                        .amount {
                            margin-top: 10px;
                            font-weight: 500;
                            font-size: 24px;
                        }
                    }
                }

                @keyframes marquee {
                    0% {
                        transform: translateY(100%);
                    }
                    100% {
                        transform: translateY(-100%);
                    }
                }
            }
        }
    }
    .popup-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }
}
.ql-font-arial {
    font-family: 'Arial, sans-serif';
}
.ql-font-times-new-roman {
    font-family: 'Times New Roman, serif';
}
.ql-font-helvetica {
    font-family: 'Helvetica, sans-serif';
}
.ql-font-georgia {
    font-family: 'Georgia, serif';
}
.ql-font-verdana {
    font-family: 'Verdana, sans-serif';
}
.ql-font-calibri {
    font-family: 'Calibri, sans-serif';
}
.ql-font-roboto {
    font-family: 'Roboto, sans-serif';
}
.ql-font-open-sans {
    font-family: 'Open Sans, sans-serif';
}

.ql-editor {
    box-sizing: border-box;
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    overflow-x: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.ql-editor p {
    margin-bottom: 25px !important;
}

#editor {
    height: 250px;
}
#editor .quill-editor {
    height: 100%;
}
#editor .quill-editor .ql-container {
    height: 60%;
}

#preview {
    padding: 15px;
}

#preview h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
