<div id="post" class="post">
    <div class="container">
        <div class="main-col">
            <div class="title">{{this.detail.title}}</div>
            <div class="image">
                <img :src="this.detail.image" />
            </div>
            <div class="sapo">{{this.detail.sapo}}</div>
            <div class="related"></div>
            <div class="body">
                <div class="content ql-editor" v-html="formattedContent"></div>
            </div>
            <div>
                <!-- <b>{{time}}</b> -->
                <b
                    >Thời gian hỗ trợ bắt đầu từ
                    {{formatDate(this.detail.start_date)}} đến
                    {{formatDate(this.detail.end_date)}}</b
                >
            </div>
            <div class="help m-t-10" v-if="!isOutdate">
                <button @click="showPopupAmount">Hỗ trợ</button>
            </div>
        </div>
        <div class="sub-col">
            <div class="header">Danh sách người đã hỗ trợ</div>
            <div class="slider">
                <div class="marquee">
                    <template v-for="(item,key) in this.users">
                        <div class="user" aria-hidden="true">
                            <img
                                class="avatar"
                                :src="item.avatar"
                                alt="image"
                            />
                            <div class="infor">
                                <p>{{item.last_name}} {{item.first_name}}</p>
                                <p>{{encodePhoneNumber(item.tel)}}</p>

                                <div class="amount">
                                    <p>
                                        Đã hỗ trợ {{format(item.total_amount)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <div v-if="showPopup" class="popup-container">
        <popup-amount
            :showModal="showPopup"
            :paramSends="this.paramSends"
            :onClose="() => { showPopup = false}"
        />
    </div>
</div>
