<div id="post">
    <div class="container">
        <div class="main-col">
            <div class="title">{{this.detail.title}}</div>
            <div class="image">
                <img :src="this.detail.image" alt="image" />
            </div>
            <div class="sapo">{{this.detail.sapo}}</div>
            <div class="related"></div>
            <div class="body" v-for="(el,key) in this.content" :index="key">
                <div class="image" v-if="el.image != null && el.image !=''">
                    <img :src="el.image" alt="image" />
                </div>
                <div
                    class="content"
                    v-if="el.description!=null && el.description !=''"
                >
                    <p>{{el.description}}</p>
                </div>
            </div>
            <div class="help">
                <button @click="showPopupAmount">Hỗ trợ</button>
            </div>
        </div>
        <div class="sub-col">
            <div class="header">Danh sách người đã hỗ trợ</div>
            <div class="slider">
                <div class="marquee">
                    <template v-for="(item,key) in this.users">
                        <div class="user" aria-hidden="true">
                            <img
                                class="avatar"
                                :src="item.avatar"
                                alt="image"
                            />
                            <div class="infor">
                                <p>{{item.last_name}} {{item.first_name}}</p>
                                <p>{{item.tel}}</p>

                                <div class="amount">
                                    <p>
                                        Đã hỗ trợ {{format(item.total_amount)}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
    <div v-if="showPopup" class="popup-container">
        <popup-amount
            v-model="showPopup"
            :paramSends="this.paramSends"
            :onClose="() => { showPopup = false }"
        />
    </div>
</div>
