<div id="page404" class = "error">
    <div class="content row">
        <div class="title col-7">
            <h3>404! Không tìm thấy trang.</h3>
            <p>Chúng tôi xin lỗi vì sự bất tiện này. Có vẻ như bạn đang cố truy cập một trang đã bị xóa hoặc không tồn tại.</p>
        </div>
        <img class ="col-4" :src=img alt="404">
    </div>
    <hr>
    <div class="return">
        <p>Bạn có thể trở về trang chủ</p>
        <router-link to="home" class="btn btn-lg btn-primary mt-2" title="Trang chủ">Trang chủ</router-link> 
    </div>
</div>
