<div id="page500">
    <div class="content-wrapper page-error">
        <section id="search_card" class="ans-section mb-0">
            <div class="row form-group">
                <div class="col-sm-12 comment">
                    <h3>500! Lỗi</h3>
                    <p>Một lỗi đã xảy ra. Vui lòng thử lại.</p>
                    <router-link :to="homeScreen" class="btn btn-lg btn-primary mt-2" title="ホームに戻る">ホームに戻る</router-link>
                </div>
            </div>
        </section>
    </div>
</div>

