<div id="manage-user">
    <div class="header">Danh sách đơn hỗ trợ</div>
    <div class="content">
        <div class="history-table-container">
            <div class="pagination flex-r m-b-16">
                <Input
                    v-model="this.conditions.keyword"
                    placeholder="Nhập thông tin tìm kiếm"
                    inputClass="custom-input"
                    @input="debouncedSearch"
                />
                <SelectBox
                    class="col-sm-3 ms-2"
                    id="ward"
                    :options="options"
                    v-model="listData.pagination.size"
                ></SelectBox>
                <td class="td-paging">
                    <paging
                        v-if="listData.list.length > 0"
                        :size="listData.pagination.size"
                        :total="listData.pagination.total"
                        :page="listData.pagination.page"
                        @change-page="changeCurrentPage"
                    />
                </td>
                <button
                    type="button"
                    class="btn btn-sm custom-input m-l-30"
                    @click="handleExport"
                >
                    Xuất Excel
                </button>
            </div>
            <table class="custom-table">
                <thead class="fix-header">
                    <tr>
                        <th class="text-center">STT</th>
                        <th
                            class="text-center sortable"
                            :class="{'asc': conditions.sort === 'title' && conditions.order === 'asc', 'desc': conditions.sort === 'title' && conditions.order === 'desc'}"
                            @click='sort("title")'
                        >
                            Tiêu đề
                        </th>
                        <th
                            class="text-center sortable"
                            :class="{'asc': conditions.sort === 'cre_at' && conditions.order === 'asc', 'desc': conditions.sort === 'cre_at' && conditions.order === 'desc'}"
                            @click='sort("cre_at")'
                        >
                            Ngày tạo
                        </th>
                        <th
                            class="text-center sortable"
                            :class="{'asc': conditions.sort === 'amount' && conditions.order === 'asc', 'desc': conditions.sort === 'amount' && conditions.order === 'desc'}"
                            @click='sort("amount")'
                        >
                            Số tiền đã nhận
                        </th>
                        <th
                            class="text-center sortable"
                            :class="{'asc': conditions.sort === 'status' && conditions.order === 'asc', 'desc': conditions.sort === 'status' && conditions.order === 'desc'}"
                            @click='sort("status")'
                        >
                            Trạng thái
                        </th>
                        <th class="text-center">Xem chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="listData.list.length == 0">
                        <td class="bg-gray-100 h-10 text-center" colspan="6">
                            Không tìm thấy dữ liệu
                        </td>
                    </tr>
                    <tr v-else
                        class="tr-hover"
                        v-for="(item, i) in this.listData.list"
                    >
                        <td class="text-center" style="width: 5%">{{i + 1}}</td>
                        <td class="text-left" style="width: 35%">
                            {{item.title}}
                        </td>
                        <td class="text-left" style="width: 15%">
                            {{formatDate(item.cre_at)}}
                        </td>
                        <td class="text-center" style="width: 15%">
                            {{format(item.amount)}}
                        </td>
                        <td class="text-center">
                            <div
                                class="status"
                                :class="isOutDate(item.end_date) ? 'red' : 'green'"
                            >
                                <span class="text-status"
                                    >{{ isOutDate(item.end_date) ? 'Hết hạn' :
                                    'Còn hạn' }}</span
                                >
                            </div>
                        </td>

                        <td
                            class="text-center hov-pointer"
                            style="width: 10%"
                            @click="showPopupHelp(item.id)"
                        >
                            <i class="fa-solid fa-circle-info"></i>Xem
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div v-if="showPopup" class="popup-container">
        <popup-help
            :showModal="showPopup"
            :paramSends="this.paramSends"
            :onClose="onClosePopup"
        ></popup-help>
    </div>
</div>
