<div id="news">
    <div class="container">
        <div class="main-col">
            <div id="list-news">
                <div v-for="(news,index) in listData.list" :key="index">
                    <article>
                        <h1>{{news.title}}</h1>
                        <div class="photo">
                            <img :src="news.image" />
                        </div>
                        <p>{{news.sapo}}</p>
                        <div class="readmore">
                            <a @click="readMore(news)">Xem thêm</a>
                        </div>
                    </article>
                </div>
            </div>
            <div class="pagination">
                <td class="td-paging">
                    <paging
                        v-if="listData.list.length > 0"
                        :size="listData.pagination.size"
                        :total="listData.pagination.total"
                        :page="listData.pagination.page"
                        @change-page="changeCurrentPage"
                    />
                </td>
            </div>
        </div>
        <div class="sub-col">
            <div class="box-header">
                <p>Tìm kiếm</p>
            </div>
            <div class="filter">
                <div class="filter-item">
                    <span class="filter-label">Tỉnh thành</span>
                    <Select class="col-sm-4" id="city" :options=this.location.cities :onChangeEvent="setDistricts" v-model="conditions.city"></Select>
                </div>
                <div class="filter-item">
                    <span class="filter-label">Quận huyện</span>
                    <Select class="col-sm-4" id="district" :options=this.location.districts :onChangeEvent="setWards" v-model="conditions.district"></Select>
                </div>
                <div class="filter-item">
                    <span class="filter-label">Phường xã</span>
                    <Select class="col-sm-4" id="ward" :options=this.location.wards v-model="conditions.ward"> </Select>
                </div>
                <div class="filter-item">                  
                    <label>
                        <input type="radio" :value="true" v-model="conditions.is_all" /> Tất cả bài hỗ trợ
                    </label>
                </div>
                <label>
                    <input type="radio" :value="false" v-model="conditions.is_all" /> Những bài còn hỗ trợ
                </label>
                <div class="input-button-container">
                    <input type="text" class="input-field" placeholder="Nhập tiêu đề" v-model="this.conditions.keyword">
                    <button class="submit-button" @click="handleSearch"><i class="fa-solid fa-magnifying-glass"></button>
                </div>
            </div>
            <!-- End Sidebar -->
        </div>
    </div>
</div>
