@import "../../assets/scss/common";
@import '@fortawesome/fontawesome-free/css/all.min.css';
#landing-page {
    background-color: white;
    .main {       
        margin-top: -50px; 
        height: 70vh;
        margin-bottom: 30vh;
        .main-layout{
            margin: 100px auto 0 auto;
            height: 100%;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            gap: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .layout-1{
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                margin-top: 20px;
                h1{
                    width: 100%;
                    font-size: 50px;
                    font-weight: bolder;
                    color: WHITE;
                    text-align: center;
                }
                h3{
                    color: WHITE;
                    font-size: 25px;
                }
                img{
                    width: 100%;
                    height: 80%;
                }
            }
        }
        .layout-2{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 20px auto 20px auto;
            width: 80%;
            background-color: white;
            transform: translateY(calc(-100% + 30vh));
            margin-bottom: -100px ;
            padding: 50px;
            .intro-text {
                position: relative;
                left:0;
                top:0;
                width: 90%;
                h1{
                    font-size: 48px;
                    font-weight: bolder;
                    color: rgb(0, 0, 0);
                }
                h2{
                    font-size: 36px;
                    color: rgb(0, 0, 0);
                    font-weight: bolder;
                }
                p {
                    line-height: 30px;
                    font-size: 20px;
                    color: rgb(0, 0, 0);
                }
        
            .btn {
                margin-top: 1rem;
                display: inline-block;
                padding: 10px 20px 10px 20px;
                border: none;
                font-size: 1.4rem;
                border-radius: 5px;
                color: #fff;
                border-radius: 30px;
                margin-left: 50px;
                &.red {
                    background-color: $dangerColor;
                    margin-right: 1.5rem;
                    &:hover{
                        background-color: $dangerHoverColor;
                        color: #fff;
                    }
                }
        
                &.blue {
                    background-color: $primaryColor;
                    &:hover {
                        background-color: #1959cf;
                        color: #fff;
                    }
                }
            }
            }
                .i-frame {
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    padding: 0px 50px 0px 50px;
                }
            }
        }
    }
    .news {
        margin: 0 auto 0 auto;
        max-width: 1100px;
        gap: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 60px;
        .title-news{       
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;     
            h1{
                width: 100%;
                font-size: 50px;
                font-weight: bold;
            }
            h2{
                font-size: 20px;
            }
        }
        .news-container{
            width: 150%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            .news-item{
                width:40%;
                margin: 0px 20px 40px 20px;
                display: flex;
                justify-content: center;
                flex-direction: column; 
                align-items: center;    
                img{
                    width: 100%;
                    height: 100%;
                }
                .title{
                    width: 90%;
                    max-height: 200px;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    transform: translateY(-50px);
                    padding: 40px;
                    font-weight: bolder;
                    h1{
                        font-weight: bolder;
                        height: 80%;
                    }
                    .detail{
                        padding-top: 20px;
                        height: 20%;
                        font-size: 24px;
                        span::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            transform: scaleX(0);
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: $primaryHoverColor;
                            transform-origin: bottom right;
                            transition: transform 0.25s ease-out;
                          }
                          span:hover::after {
                            transform: scaleX(1);
                            transform-origin: bottom left;
                          }
                    }
                }
                &:hover {
                    transform: translateY(-5px); 
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                    button:hover {       
                        width: 100%;      
                        background-color: #6999f3;
                        color: white;
                        border-radius: 0px;
                    }
                }
            }
            .more {
                width: 80%;
                text-align: right;
                font-size: 28px;
                padding: 2px 10px 2px 10px;
                bottom: 0;
                &:hover {
                    color: $primaryColor;
                    transform: translateY(-2px);
                }
            }
        }
    }
    .honor {
        margin: 0 auto 0 auto;
        gap: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url('https://cdn1.img.sputniknews.vn/img/07e6/09/1e/18209089_0:26:3072:1754_1920x0_80_0_0_f2183119640f0d40a8d7b1bf4bd4b3ce.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 60px 20px 50px 20px;
        .title-honor{       
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;     
            color: white;
            h1{
                width: 100%;
                font-size: 50px;
                font-weight: bold;
            }
            h2{
                font-size: 20px;
            }
        }
        .honor-container{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
            height: 70%;
            .honor-item{
                height: 400px; 
                width: 100%;
                display: flex;
                overflow: hidden;
                .slide{
                    background-image: url('https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg');
                    background-repeat: no-repeat;
                    background-attachment: scroll;
                    background-size: cover;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    width: 100%;
                    transition: transform 2s ease;
                    .avatar{
                        height: 60%;
                        margin: 0px 50px 0px 50px;
                        border-radius: 50%;
                    }
                    .content{
                        padding: 0px 10px 0px 10px;
                        width: 500px;
                        p{
                            text-align: justify;
                        }
                        .description{
                            margin-top: 5px;
                        }
                        span{
                            width: 100%;
                        }
                    }
                }
            }
            button {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                font-size: 36px;   
                z-index: 1;         
                border: 0px;
                background-color: #095cf7;
                color: white;
                &.fa-caret-left {
                    transform: translateX(25px);  
                }
                &.fa-caret-right {
                    transform: translateX(-25px);  
                }
                &:hover{
                    color: #095cf7;
                    background-color: white;
                }
            }
        }
    }
    .share {
        margin: 0 auto 0 auto;
        max-width: 1100px;
        gap: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 60px;
        .title-share{       
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;     
            h1{
                width: 100%;
                font-size: 50px;
                font-weight: bold;
            }
            h2{
                font-size: 20px;
            }
        }
        .share-container{
            width: 150%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-top: 20px;
            .share-item{
                width:25%;
                height: 100%;
                border : gray solid 1px;
                border-radius: 10px;
                margin: 40px 20px 40px 20px;
                padding: 20px 20px 0px 20px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;     
                .avatar{
                    width: 70%;
                    height:40%;
                    position: relative;
                    text-align: center;
                    transform: translate(45px,-100px);
                    border-radius: 50%;
                }
                .name{
                    text-align: center;
                    transform: translateY(-50px);
                    font-size: 30px;
                }
                .result{
                    text-align: center;
                    transform: translateY(-50px);
                    font-size: 20px;
                }
                .quote{
                    transform: translateY(-60px);
                    .description{
                        padding: 0px 40px 0px 40px;
                        font-size: 18px;
                        text-align: justify;
                    }
                    .fa{
                        color: #095cf7;
                        font-size: 40px;
                    }
                    .fa-quote-right{
                        margin-left: 330px ;
                    }
                }
            }
        }
    }
  }
  