
<div id="navbar">
    <b-navbar type="dark" variant="dark" expand="md">
        <b-navbar-brand href="#">Your Logo</b-navbar-brand>
    
        <b-navbar-toggle target="nav -collapse"></b-navbar-toggle>
    
        <b-collapse id="nav-collapse" is-nav>
            <b-navbar-nav>
            <b-nav-item to="#">Home</b-nav-item>
            <b-nav-item to="#">Features</b-nav-item>
            <b-nav-item to="#">Pricing</b-nav-item>
            </b-navbar-nav>
    
            <b-navbar-nav class="ml-auto">
            <b-nav-item to="#">Login</b-nav-item>
            <b-nav-item to="#" class="signup-button">Sign Up</b-nav-item>
            </b-navbar-nav>
        </b-collapse>
        </b-navbar>
</div>

  

  