@import '@/assets/scss/common';
#contact {
    background: url('https://res.cloudinary.com/dcyg1qwdc/image/upload/test/footer/toefq1mjxb59xex72jcc.jpg');
    color: white;
    // position: sticky;
    top: auto;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    .contact-container {
        background: url('https://res.cloudinary.com/dcyg1qwdc/image/upload/test/footer/ygojfhlamgjzb47faapc.png')
            no-repeat bottom;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 4px #030303;
        padding: 0px 20px 0px 20px;
        margin: 0px auto 0 auto;
        gap: 10px;
        width: 100%;

        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .container {
            white-space: nowrap;
        }
        .second {
            .social {
                display: flex;
                a {
                    margin: 0px 5px 0px 5px;
                    i {
                        color: white;
                    }
                }
            }
        }
        .infor {
            margin: 0px 2px 0px 2px;
            p {
                margin: 0px;
                color: white !important;
            }
        }
        .copyright {
            display: flex;
            justify-content: center;
            margin: 0px 2px 0px 2px;
        }
    }
}
